table.read_list {
    width: 80%;
    margin:10px auto;
    border-collapse: collapse;
    border-spacing: 0;
}

table.read_list th {
    background-color: #ddd;
}

table.read_list th, table.read_list td {
    border-bottom: 1px solid #ddd;
    padding:1em;
    text-align: center;
}

table.read_list tr:nth-of-type(even) {
    background-color: #ddd;
}

table.read_list tr:nth-of-type(n+1):hover {
    cursor: pointer;
    background-color: #bbb;
}

table.order_read_list tr:nth-of-type(n+1):hover {
    cursor: pointer;
    background-color: orange !important;
}