<!DOCTYPE html>
<html lang="ko"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{layout}"
>

<section layout:fragment="content">
    <table class="buyer_list">
        <thead>
            <tr>
                <th>SEQ</th>
                <th>고객 ID</th>
                <th>거래일시</th>
                <th>상품명</th>
                <th>단가</th>
                <th>수량</th>
                <th>합계</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>




    </table>










</section>