<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">


<header th:fragment="headerFragment">
    <h1>읽을수록 쌓이는 독서록</h1>
    <p>하루 한쪽 부터 시작하는 독서 운동!!!</p>
</header>
<nav th:fragment="navFragment">
    <script th:src="@{/static/js/nav.js}"></script>
    <ul>
        <li>독서리스트</li>
        <li>글쓰기</li>
        <li>내 정보</li>
        <li sec:authorize="!isAuthenticated()">로그인</li>
        <li sec:authorize="isAuthenticated()">로그아웃</li>
    </ul>
</nav>
<footer th:fragment="footerFragment">
    <address>CopyRight &copy; hoon@naver.com</address>
</footer>

</html>
