<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
</head>
<title>나라상사 고객관리 시스템 2021 V1</title>
<body>
    <header>나라상사 고객관리 시스템 2021 V1</header>
    <nav>
        <ul>
            <li>Home</li>
            <li>주문관리</li>
            <li>결제관리</li>
            <li>로그인</li>
        </ul>
    </nav>
    <table>
        <tr class="main_list">
            <th>고객ID</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>주소</th>
            <th>담당자명</th>
            <th>담당자연락처</th>
            <th>매출액합계(만원)</th>
        </tr>
        <tr>
            <td>B001</td>
            <td>롯데상사</td>
            <td>02-222-9999</td>
            <td>서울시 영등포구</td>
            <td>홍길동</td>
            <td>010-9999-8766</td>
            <td>91,000</td>
        </tr>
        <tr>
            <td>B002</td>
            <td>삼부상사</td>
            <td>062-526-9988</td>
            <td>광주시 북구</td>
            <td>이몽룡</td>
            <td>010-9876-6781</td>
            <td>2,900</td>
        </tr>
    </table>
</body>
</html>